$font: Helvetica;
$bold: 900;

$blue: #00859B;
$yellow: #FFB500;
$red: #C60000;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;


@keyframes rounded{
  from {
    border-radius: 0px;
  }

  to{
    border-radius: 100px;
  }
} 

